version: "3"

services:
    web:
        build:
            context: .
            dockerfile: docker/nginx/Dockerfile
        ports:
            - "80:80"
        depends_on:
            - php
        working_dir: /var/www/html
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./:/var/www/html
        networks:
            - app
        env_file:
            - .env
            - .env.local

    php:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        volumes:
            - ./:/var/www/html
            - ./docker/php/php.ini:/usr/local/etc/php/php.ini
        depends_on:
            - db
        networks:
            - app
        env_file:
            - .env
            - .env.local

    db:
        image: postgres:13.0
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=app
            - POSTGRES_DATABASE=app
            - POSTGRES_PASSWORD=pass
            - PGDATA=/var/lib/postgresql/pgdata
#        volumes:
#            - pgsql-bkp:/var/bkp
#            - pgsql-data:/var/lib/postgresql/pgdata/
#            - ./:/app
        working_dir: /app
        networks:
            - app

    node:
        build:
            context: .
            dockerfile: docker/node/Dockerfile
        volumes:
            - ./:/var/www/html
#        entrypoint: ["/bin/sh", "/var/www/html/docker/node/entrypoint.sh"]
        env_file:
            - .env
            - .env.local

networks:
    app:
