version: "3"

services:
    nginx:
        build:
            context: .
            dockerfile: docker/nginx/Dockerfile
        ports:
            - "80:80"
        depends_on:
            - php
        working_dir: /var/www/html
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./:/var/www/html
        networks:
            - app
        env_file:
            - .env
            - .env.local

    php:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        volumes:
            - ./:/var/www/html
        depends_on:
            - postgres
        networks:
            - app
        env_file:
            - .env
            - .env.local

    postgres:
        build:
            context: .
            dockerfile: docker/postgres/Dockerfile
        ports:
            - "5433:5432"
        environment:
            - POSTGRES_USER=app
            - POSTGRES_DATABASE=app
            - POSTGRES_PASSWORD=pass
            - PGDATA=/var/www/html/var/postgres_data
        volumes:
            - ./var/postgres_bkp:/var/bkp
            - ./:/var/www/html
        working_dir: /var/www/html
        networks:
            - app
        env_file:
            - .env
            - .env.local

    node:
        build:
            context: .
            dockerfile: docker/node/Dockerfile
        volumes:
            - ./:/var/www/html
        entrypoint: ["/bin/sh", "/var/www/html/docker/node/entrypoint.sh"]
        env_file:
            - .env
            - .env.local

networks:
    app:
