<div class="block__mobile__header__menu hide">
    <div class="block__header__menu">
        <div class="block__overflow">
            <div class="block__header__menu__item">
                <div class="block__item__text">
                    <div class="menu__item__text menu__item">
                        <a>Наша продукция</a>
                        <img class="menu__arrow" src="/front/images/arrow_right_black.svg" alt="">
                    </div>
                    <hr>

                    <div class="menu__ul">
                        <div class="block__item__text category__block__item__text">
                            <a href="/windows">Окна</a>
                        </div>

                        <hr>
                        <div class="block__item__text category__block__item__text menu__item">
                            <a>Двери</a>
                            <img class="menu__arrow" src="/front/images/arrow_right_black.svg" alt="">
                        </div>
                        <hr>
                        <div class="menu__ul">
                            <div class="block__item__text category__block__item__text">
                                <a href="/door/interior-doors">Межкомнатные</a>
                            </div>

                            <hr>
                            <div class="block__item__text category__block__item__text">
                                <a>Входные</a>
                            </div>

                            <hr>
                            <div class="block__item__text category__block__item__text">
                                <a>Фурнитура</a>
                            </div>
                            <hr>
                        </div>

                        <div class="block__item__text category__block__item__text menu__item">
                            <a>Жалюзи</a>
                            <img class="menu__arrow" src="/front/images/arrow_right_black.svg" alt="">
                        </div>
                        <div class="menu__ul"></div>

                        <hr>
                        <div class="block__item__text category__block__item__text menu__item">
                            <a>Москитные сетки</a>
                            <img class="menu__arrow" src="/front/images/arrow_right_black.svg" alt="">
                        </div>
                        <div class="menu__ul"></div>

                        <hr>
                        <div class="block__item__text category__block__item__text menu__item">
                            <a>Гаражные ворота и роллеты</a>
                            <img class="menu__arrow" src="/front/images/arrow_right_black.svg" alt="">
                        </div>
                        <hr>
                        <div class="menu__ul"></div>

                    </div>
                </div>
            </div>

            <div class="block__header__menu__item">
                <div class="block__item__text">
                    <a href="/our_work">Наши работы</a>
                </div>
            </div>
            <hr>

            <div class="block__header__menu__item">
                <div class="block__item__text">
                    <div class="menu__item__text menu__item">
                        <a>Услуги</a>
                        <img class="menu__arrow" src="/front/images/arrow_right_black.svg" alt="">
                    </div>
                    <div class="menu__ul"></div>
                </div>
            </div>
            <hr>

            <div class="block__header__menu__item">
                <div class="block__item__text">
                    <a href="/contacts">Контакты</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile__block__footer">
        <div class="language">
            <img src="/front/images/header_img/Group_5079_mobile.svg" alt="language">
            <a href="" class="language__link language__UA">UA</a>
            <a href="" class="language__link language__selected">RU</a>
        </div>
        <div class="mobile__block__contact">
            <div class="mobile__contacts__list">
                <a class="phone__link footer__phone__link" href="tel:+38 (096) 123 45 67"><img src="/front/images/footer_img/Phone.svg" alt="Call +38 (096) 123 45 67" />+38 (096) 123 45 67</a>
                <p><img src="/front/images/footer_img/timeImg.svg" alt="">пн-пт, 10:00-18:00</p>
            </div>
            <div class="mobile__social__network__list">
                <a class="mobile__header__link__facebook" href="https://uk-ua.facebook.com/"><img src="/front/images/footer_img/Facebook.svg" alt="facebook">Facebook</a>
                <a class="mobile__header__link__instagram" href="https://www.instagram.com/"><img src="/front/images/footer_img/Instagram.svg" alt="instagram">Instagram</a>
            </div>
        </div>
    </div>
</div>