<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                {% for parentMenu in menu() %}
                    {% for menuItem in parentMenu.children %}
                        <li href="{{ path(menuItem.route) }}">
                            <a href="{{ path(menuItem.route) }}">
                                {{ menuItem.route|trans }}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
