{% extends 'admin/base.html.twig' %}

{% block body %}
    {% include 'admin/partials/_base_item_buttons.html.twig' %}
    <div class="row" {{ stimulus_controller(app.current_route|replace({'admin_': 'admin/'})) }}>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="basic-example" role="application" class="wizard clearfix">
                        <div class="content clearfix">
                            {{ form_start(form, {'attr': {'id': 'form-' ~ form.vars.id }}) }}
                            <section id="basic-example-p-0" role="tabpanel" aria-labelledby="basic-example-h-0"
                                     class="body current row" aria-hidden="false">
                                {% block item_form %}
                                    {% for f in form %}
                                        {{ form_row(f) }}
                                    {% endfor %}
                                {% endblock %}
                            </section>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'admin/partials/_base_item_buttons.html.twig' %}
{% endblock %}
