<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Папа Карло</title>


    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/collectionPage.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
</head>
<body>

<div class="block__shadow"></div>

<%- include ("./partials/header.ejs") %>

<main>
    <div class="main">
        <hr class="top__main__hr">
        <div class="block__main__header">
            <div class="block__collection__text">
                <p class="text__links"><a href="/">Главная</a><span>/</span><a href="/door">Двери</a><span>/</span><a href="/door/interior-doors">Межкомнатные двери</a><span>/</span>Папа Карло. <span class="modification">Cosmopolitan</span></p>
                <h2>Папа Карло. Коллекция <span class="modification">Cosmopolitan</span></h2>
                <p class="text">Дверь современного и классического дизайна. Покрытие – экошпон RENOLIT на основе полипропилена (Германия). Каркас двери – клееный брус из массива дерева.</p>
            </div>
            <div class="block__main__header__form">
                <form class="search__form" action="">
                    <input type="text" id="" placeholder="Поиск по названию">
                    <button class="btn__search"><img src="/front/images/search_img.svg" alt=""></button>
                </form>
            </div>
        </div>
        <div class="block__main__body">
            <div class="block__name__collections">
                <h3>Коллекции</h3>
                <a class="name__collection link__active" href="#Cosmopolitan">Cosmopolitan</a>
                <a class="name__collection" href="#Classic">Classic</a>
                <a class="name__collection" href="#Modern">Modern</a>
                <a class="name__collection" href="#Elegance">Elegance</a>
                <a class="name__collection" href="#Millenium">Millenium</a>
            </div>
            <div class="block__list__collections">
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img1.png" alt="">
                    </div>
                    <p>Sandal CP-SL-3</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img2.png" alt="">
                    </div>
                    <p>Sandal CP-71 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img3.png" alt="">
                    </div>
                    <p>Oreh CP-21</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img4.png" alt="">
                    </div>
                    <p>Venge Q157 CP-21F 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img5.png" alt="">
                    </div>
                    <p>Venge Q157 CP-07 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img6.png" alt="">
                    </div>
                    <p>Sandal CP-SL-3</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img7.png" alt="">
                    </div>
                    <p>Sandal CP-71 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img8.png" alt="">
                    </div>
                    <p>Oreh CP-21</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img9.png" alt="">
                    </div>
                    <p>Venge Q157 CP-21F 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img10.png" alt="">
                    </div>
                    <p>Venge Q157 CP-07 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img1.png" alt="">
                    </div>
                    <p>Sandal CP-SL-3</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img2.png" alt="">
                    </div>
                    <p>Sandal CP-71 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img3.png" alt="">
                    </div>
                    <p>Oreh CP-21</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img4.png" alt="">
                    </div>
                    <p>Venge Q157 CP-21F 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img5.png" alt="">
                    </div>
                    <p>Venge Q157 CP-07 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img6.png" alt="">
                    </div>
                    <p>Sandal CP-SL-3</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img7.png" alt="">
                    </div>
                    <p>Sandal CP-71 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img8.png" alt="">
                    </div>
                    <p>Oreh CP-21</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img9.png" alt="">
                    </div>
                    <p>Venge Q157 CP-21F 1</p>
                </div>
                <div class="block__item__collection">
                    <div class="block__img__collection">
                        <img src="/front/images/collection_img/door_img10.png" alt="">
                    </div>
                    <p>Venge Q157 CP-07 1</p>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="block__modal__slider__img">
    <div class="block__modal__header">
        <div class="block__table">
            <table class="modal__table">
                <tr>
                    <td class="td__mobile">
                        <h3>Sandal CP-71 1</h3>
                        <p>1 / 30</p>
                    </td>
                    <td class="td__desktop">
                        <h3>Sandal CP-71 1</h3>
                    </td>
                    <td class="counter__images td__desktop">
                        <p>1 / 30</p>
                    </td>
                    <td class="modal__button__contact td__desktop">
                        <div class="block__button__contact">
                            <button class="button__contact modal__table__button__contact">Связаться с нами</button>
                        </div>
                    </td>
                    <td class="table__close">
                        <img class="modal__slider__button__close" src="/front/images/imgClose.svg" alt="">
                    </td>
                </tr>
            </table>
        </div>

        <div class="block__big__img__slider">
            <div class="collection__slider__bigImages">
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img1.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img2.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img3.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img4.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img5.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img6.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img7.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img8.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img9.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img10.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img1.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img2.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img3.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img4.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img5.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img6.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img7.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img8.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img9.png" alt="slide">
                </div>
                <div class="collection__sliderBig__item">
                    <img src="/front/images/collection_img/door_img10.png" alt="slide">
                </div>
            </div>
        </div>

        <div class="block__img__slider">
            <div class="block__button__contact mobile">
                <button class="button__contact button__contact__mobile modal__table__button__contact mobile"><img src="/front/images/ourWork_img/btn_contacts_img.svg" alt="">Связаться с нами</button>
            </div>
            <hr class="line">
            <div class="block__slider__collection">
                <div class="collection__slider__images"></div>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/mobileHeaderMenu.ejs") %>
<%- include ("./partials/modalWindowContact.ejs") %>
<%- include ("./partials/footerWithoutSlider.ejs") %>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="module" src="/js/header.js"></script>
<script type="module" src="/js/collectionPage.js"></script>

</body>
</html>