<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Межкомнатные двери</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/interiorDoorsCategory.css?v=1">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
</head>
<body>

<div class="block__shadow"></div>

<%- include ("./partials/header.ejs") %>

<main>
    <div class="main">
        <hr class="top__main__hr">
        <div class="block__interiorDoor">
            <p><a href="/">Главная</a><span>/</span><a href="/door">Двери</a><span>/</span>Межкомнатные двери</p>
            <h2>Межкомнатные двери</h2>
            <img src="/front/images/interiorDoors_img/logo_brand_1.svg" alt="">

            <div class="block__interiorDoor__list slider_1">
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium1</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium2</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium3</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium4</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium5</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
            </div>

            <img src="/front/images/interiorDoors_img/logo_brand_1.svg" alt="">

            <div class="block__interiorDoor__list slider_2">
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium1</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium2</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium3</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium4</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium5</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
            </div>

            <img src="/front/images/interiorDoors_img/logo_brand_1.svg" alt="">

            <div class="block__interiorDoor__list slider_3">
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium1</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium2</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium3</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium4</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
                <div class="block__interiorDoor__item">
                    <img src="/front/images/interiorDoors_img/brandItem1_img.svg" alt="">
                    <div class="block__text">
                        <h3>Millenium5</h3>
                        <p>Двері сучасного і класичного дизайну. Покриття - екошпон RENOLIT на основі поліпропілену (Німеччина). Каркас двері - клеєний брус з масиву дерева.</p>
                        <a href="/door/interior-doors/papa-carlo-millenium">Смотреть коллецию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<%- include ("./partials/mobileHeaderMenu.ejs") %>
<%- include ("./partials/modalWindowContact.ejs") %>
<%- include ("./partials/footerWithoutSlider.ejs") %>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="module" src="/js/header.js"></script>
<script type="module" src="/js/interiorDoorsCategory.js"></script>

</body>
</html>