<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наши работы</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/ourWorkCollection.css?v=1">
    <link rel="stylesheet" href="/css/footer.css?v=1">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
</head>
<body>

<div class="block__shadow"></div>

<%- include ("./partials/header.ejs") %>

<main>
    <div class="main">
        <hr class="top__main__hr">
        <div class="block__ourWorkCollection">
            <p><a href="/">Главная</a><span>/</span><a href="/our_work">Наши работы</a><span>/</span>Название коллекции</p>
            <div class="block__main__header">
                <h2>Название коллекции</h2>
                <div class="block__img__video__button">
                    <button class="button__img enabled">Фото</button>
                    <button class="button__video">Видео</button>
                </div>
            </div>

            <div class="block__ourWorkCollection__image__list hide">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img1.png" loading="lazy"  alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img2.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img3.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img4.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img5.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img6.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img7.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img8.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img9.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img10.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img11.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img12.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img13.png" loading="lazy" alt="">
                <img class="ourWorkCollection__item__img" src="/front/images/ourWork_img/ourWork_img14.png" loading="lazy" alt="">
            </div>

            <div class="block__ourWorkCollection__video__list hide">

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img1.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img4.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img5.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img7.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img6.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img7.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img8.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img9.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img10.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img11.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img12.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="ourWorkCollection__item__video">
                    <video width="100%" height="100%"  poster="/front/images/ourWork_img/ourWork_img13.png">
                        <source src="/front/images/video.mp4" type="video/mp4">
                    </video>
                </div>

<!--                <div>
                    <video id="myvideo" width="480" height="270" poster="/front/images/ourWork_img/ourWork_img10.png" >
                        <source src="/front/images/video.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                        <source src="/front/images/video.webm" type='video/webm; codecs="vorbis,vp8"'/>
                    </video>
                </div>
                <div id="">
                    <span id="playpause" class="paused" ><img src="/front/images/ourWork_img/play_video.svg"></span>
                </div>-->

            </div>
        </div>
    </div>
</main>

<div class="block__modal__slider__img">
    <div class="block__modal__header">
        <div class="block__table">
            <table class="modal__table">
                <tr>
                    <!--                    <div class="block__td__mobile">
                                            <td class="td__mobile">
                                                <h3>Наши работы</h3>
                                            </td>
                                            <td class="counter__images td__mobile">
                                                <p>1 / 30</p>
                                            </td>
                                        </div>-->
                    <td class="td__mobile">
                        <h3>Наши работы</h3>
                        <p>1 / 30</p>
                    </td>
                    <td class="td__desktop">
                        <h3>Наши работы</h3>
                    </td>
                    <td class="counter__images td__desktop">
                        <p>1 / 30</p>
                    </td>
                    <td class="modal__button__contact td__desktop">
                        <div class="block__button__contact">
                            <button class="button__contact modal__table__button__contact">Связаться с нами</button>
                        </div>
                    </td>

                    <td class="table__close">
                        <img class="modal__slider__button__close" src="/front/images/imgClose.svg" alt="">
                    </td>
                </tr>
            </table>
        </div>

        <div class="block__big__img__slider">
            <div class="ourWorkCollection__slider__bigImages">
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig1.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig2.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig3.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig4.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig5.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig6.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig7.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig8.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig9.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig10.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig11.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig12.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig13.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__sliderBig__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig14.svg" alt="slide">
                </div>
            </div>
        </div>

        <div class="block__img__slider">
            <div class="block__button__contact mobile">
                <button class="button__contact modal__table__button__contact mobile"><img src="/front/images/ourWork_img/btn_contacts_img.svg" alt="">Связаться с нами</button>
            </div>
            <hr class="line">
            <div class="ourWorkCollection__slider__images">
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig1.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig2.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig3.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig4.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig5.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig6.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig7.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig8.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig9.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig10.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig11.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig12.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig13.svg" alt="slide">
                </div>
                <div class="ourWorkCollection__slider__item">
                    <img src="/front/images/ourWork_img/big_img/ourWork_imgBig14.svg" alt="slide">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/mobileHeaderMenu.ejs") %>
<%- include ("./partials/modalWindowContact.ejs") %>
<%- include ("./partials/footerWithoutSlider.ejs") %>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="module" src="/js/header.js"></script>
<script type="module" src="/js/ourWorkCollection.js"></script>

</body>
</html>