<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наши работы</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/ourWork.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
</head>
<body>

<div class="block__shadow"></div>

<%- include ("./partials/header.ejs") %>

<main>
    <div class="main">
        <hr class="top__main__hr">
        <div class="block__ourWork">
            <p><a href="/">Главная</a><span>/</span>Наши работы</p>
            <h2>Наши работы</h2>

            <div class="block__ourWork__list">
                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img1.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img4.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img5.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img7.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img6.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img7.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img8.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img9.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img10.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img11.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img12.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

                <div class="block__ourWork__item">
                    <img class="ourWork__item__img" src="/front/images/ourWork_img/ourWork_img13.png" alt="">
                    <div class="block__text">
                        <h3>Название коллекции</h3>
                        <p>Описание коллекции в две строки под заголовком с множеством разных слов находятся прямо здесь</p>
                        <a href="/our_work/our_work_collection">Смотреть коллекцию <img src="/front/images/arrow_right_Img.svg" alt=""></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>


<%- include ("./partials/mobileHeaderMenu.ejs") %>
<%- include ("./partials/modalWindowContact.ejs") %>
<%- include ("./partials/footerWithoutSlider.ejs") %>

<script type="module" src="/js/header.js"></script>
<!--<script type="module" src="/js/ourWork.js"></script>-->

</body>
</html>