<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ремонт квартир</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/servicesRenovation.css">
    <link rel="stylesheet" href="/css/footer.css?v=1">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
</head>
<body>

<div class="block__shadow"></div>

<%- include ("./partials/header.ejs") %>

<main>
    <div class="main">
        <hr class="top__main__hr">
        <div class="block__services__renovation">
            <p><a href="/">Главная</a><span>/</span><a href="/services">Услуги</a><span>/</span>Ремонт квартир</p>
            <h2>Ремонт квартир</h2>
            <div class="block__main__renovation">
                <div class="block__renovation">
                    <div class="block__img__renovation">
                        <img class="big__img__renovation" src="/front/images/services_renovation_img1.svg" alt="">
                        <img class="img__renovation__mobile" src="/front/images/services_renovation_img2.svg" alt="">
                    </div>
                    <div class="block__renovation__text">
                        <p>
                            Равным образом, понимание сути ресурсосберегающих технологий однозначно фиксирует необходимость вывода текущих активов. Сложно сказать, почему явные признаки победы институционализации освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
                            <br><br>Господа, экономическая повестка сегодняшнего дня влечет за собой процесс внедрения и модернизации форм воздействия. Следует отметить, что укрепление и развитие внутренней структуры способствует повышению качества анализа существующих паттернов поведения. И нет сомнений, что ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -  описаны максимально подробно.
                        </p>
                        <img class="img__renovation__desktop" src="/front/images/services_renovation_img2.svg" alt="">
                    </div>
                </div>

                <div class="block__stages__work">
                    <h2>Этапы работы</h2>
                    <hr>
                    <div class="block__stages__work__list">
                        <div class="block__stages__work__text">
                            <p class="red__text">01</p>
                            <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня,.</p>
                        </div>

                        <hr class="hr__mobile">

                        <div class="block__stages__work__text">
                            <p class="red__text">02</p>
                            <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня,.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="block__stages__work__list">
                        <div class="block__stages__work__text">
                            <p class="red__text">03</p>
                            <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня,.</p>
                        </div>

                        <hr class="hr__mobile">

                        <div class="block__stages__work__text">
                            <p class="red__text">04</p>
                            <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня,.</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <div class="block__footer__main">
            <div class="block__information">
                <div class="block__heading__information">
                    <h2>Почему<img src="/front/images/heading_block_information_img.svg" alt="">мы?</h2>
                </div>
                <hr>

                <div class="block__text__information">
                    <h3>Гарантия лучшей цены и качества</h3>
                    <p>Равным образом, понимание сути ресурсосберегающих технологий однозначно фиксирует необходимость вывода текущих активов.
                        <br><br>Сложно сказать, почему явные признаки победы институционализации освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
                        <br><br>Господа, экономическая повестка сегодняшнего дня влечет за собой процесс внедрения и модернизации форм воздействия.
                    </p>
                </div>
                <hr>

                <div class="block__text__information">
                    <h3>Скорость выполнения</h3>
                    <p>Господа, экономическая повестка сегодняшнего дня влечет за собой процесс внедрения и модернизации форм воздействия.
                        <br><br>Следует отметить, что укрепление и развитие внутренней структуры способствует повышению качества анализа существующих паттернов поведения.
                        <br><br>И нет сомнений, что ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -  описаны максимально подробно.
                    </p>
                </div>
                <hr>

                <div class="block__text__information">
                    <h3>Большой опыт работы</h3>
                    <p>Сложно сказать, почему явные признаки победы институционализации освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, рассмотрены исключительно в разрезе.
                        <br><br>Диаграммы связей, вне зависимости от их уровня, должны быть.</p>
                </div>
                <hr>

                <div class="block__text__information">
                    <h3>Полный комплекс услуг по ремонту</h3>
                    <p>В своём стремлении повысить качество жизни, они забывают, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки системы массового участия.
                        <br><br>И нет сомнений, что активно развивающиеся страны третьего мира рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</main>

<%- include ("./partials/mobileHeaderMenu.ejs") %>
<%- include ("./partials/modalWindowContact.ejs") %>
<%- include ("./partials/footerWithSlide.ejs") %>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="module" src="/js/header.js"></script>

</body>
</html>