<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Услуги</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/services.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
</head>
<body>

<div class="block__shadow"></div>

<%- include ("./partials/header.ejs") %>

<main>
    <div class="main">
        <hr class="top__main__hr">
        <div class="block__services">
            <p><a href="/">Главная</a><span>/</span>Услуги</p>
            <h2>Наши услуги</h2>

            <div class="main__block__services__list">
                <hr class="first__hr__services">
                <div class="block__services__item">
                    <h3>Ремонт квартир</h3>
                    <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня, должны быть.</p>
                    <img src="/front/images/next_btn.svg" alt="">
                </div>
                <hr>
                <div class="block__services__item">
                    <h3>Установка окон</h3>
                    <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня, должны быть.</p>
                    <img src="/front/images/next_btn.svg" alt="">
                </div>
                <hr>
                <div class="block__services__item">
                    <h3>Установка дверей</h3>
                    <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня, должны быть.</p>
                    <img src="/front/images/next_btn.svg" alt="">
                </div>
                <hr>
                <div class="block__services__item">
                    <h3>Замер</h3>
                    <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня, должны быть.</p>
                    <img src="/front/images/next_btn.svg" alt="">
                </div>
                <hr>
                <div class="block__services__item">
                    <h3>Регулировка окон</h3>
                    <p>Лишь явные признаки победы институционализации функционально разнесены на независимые элементы. Диаграммы связей, вне зависимости от их уровня, должны быть.</p>
                    <img src="/front/images/next_btn.svg" alt="">
                </div>
                <hr>
            </div>
        </div>
    </div>
</main>

<%- include ("./partials/mobileHeaderMenu.ejs") %>
<%- include ("./partials/modalWindowContact.ejs") %>
<%- include ("./partials/footerWithoutSlider.ejs") %>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="module" src="/js/header.js"></script>
<script type="module" src="/js/services.js"></script>

</body>
</html>