<div class="col-3">
    <div class="card">
        <div class="card-body">
            <div class="mt-4 text-center">
                <h5 class="mb-3 text-truncate">
                    <a href="{{ path(item_route, {'id': item.id}) }}" class="text-dark">
                        {{ item.title }}
                    </a>
                </h5>
            </div>

            <div class="product-img position-relative">
                <a href="{{ path(item_route, {'id': item.id}) }}">
                    <img src="{{ item.img|app_img }}" alt="" class="img-fluid mx-auto d-block">
                </a>
            </div>
        </div>
    </div>
</div>